<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="userDao" class="com.xie.dao.impl.UserDaoImpl" scope="singleton" init-method="init" destroy-method="destroy" />-->

<!--    使用 工厂静态方法实例化 实例对象-->
<!--    <bean id="userDao" class="com.xie.factory.StaticFactory" factory-method="getUserDao" />-->

<!--    使用 工厂动态方法实例化 实例对象-->
<!--    <bean id="factory" class="com.xie.factory.DynamicFactory" />-->
<!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao" />-->

<!--  使用set方法进行注入  -->
<!--    <bean id="userDao" class="com.xie.dao.impl.UserDaoImpl" />-->
<!--    <bean id="userService" class="com.xie.service.impl.UserServiceImpl">-->
<!--        <property name="userDao" ref="userDao" />-->
<!--    </bean>-->

<!--  使用有参构造方法进行注入  -->
<!--    <bean id="userService" class="com.xie.service.impl.UserServiceImpl">-->
<!--        <constructor-arg name="userDao" ref="userDao" />-->
<!--    </bean>-->

<!--  普通数据类型注入  -->
<!--    <bean id="userDao" class="com.xie.dao.impl.UserDaoImpl">-->
<!--        <property name="name" value="张三" />-->
<!--        <property name="age" value="18" />-->
<!--    </bean>-->

<!--  集合类型注入  -->
    <bean id="u1" class="com.xie.com.xie.domain.User">
        <property name="name" value="tom" />
        <property name="addr" value="sanming" />
    </bean>

    <bean id="u2" class="com.xie.com.xie.domain.User">
        <property name="name" value="jerry" />
        <property name="addr" value="ninghua" />
    </bean>

    <bean id="userDao" class="com.xie.dao.impl.UserDaoImpl">
        <property name="list">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
                <value>ddd</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="u1" value-ref="u1" />
                <entry key="u2" value-ref="u2" />
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>
    </bean>

<!--    引入properties文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>




</beans>