<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="userDao" class="com.xie.dao.impl.UserDaoImpl" scope="singleton" init-method="init" destroy-method="destroy" />-->

<!--    使用 工厂静态方法实例化 实例对象-->
<!--    <bean id="userDao" class="com.xie.factory.StaticFactory" factory-method="getUserDao" />-->

<!--    使用 工厂动态方法实例化 实例对象-->
<!--    <bean id="factory" class="com.xie.factory.DynamicFactory" />-->
<!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao" />-->

<!--  使用set方法进行注入  -->
    <bean id="userDao" class="com.xie.dao.impl.UserDaoImpl" />
    <bean id="userService" class="com.xie.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>

</beans>